<script type="text/javascript">
    function invert(ident) {
        var state = document.getElementById(ident).style.display;
        if (state == 'block') {
            document.getElementById(ident).style.display = 'none';
        } else {
            document.getElementById(ident).style.display = 'block';
        }
    }
</script>

<%= form_tag(get_status_and_docs_show_path, :method => :post) do%>
    <ul style="list-style:none">
      <%if !@envelopes.nil?%>
          <% @envelopes.each do |e| %>
              <li>
                <%= content_tag(:span, image_tag("#{root_url}images/plus.png"), :onclick => "invert('#{e.envelopeID}');") %> <%=e.subject%> (<%= e.status.to_s%>) - <%= e.envelopeID%>
                <ul style="list-style:none; display:none;" id="<%=e.envelopeID%>">
                  <% e.recipientStatuses.each do |r| %>
                      <li>
                        <%= content_tag(:span, image_tag("#{root_url}images/plus.png"), :onclick => "invert('#{e.envelopeID}Recipient#{r.userName}');") %>
                        Recipient (<%=r.type%>) - <%=r.userName%> <%if !r.clientUserId.nil? && !r.status.to_s.eql?('Completed')%><%=submit_tag('Start Signing', :name => "DocEnvelope+#{e.envelopeID}&Email+#{r.email}&UserName+#{r.userName}&CID+#{r.clientUserId}")%><%end%>
                        <ul style="list-style:none; display:none;" id="<%=e.envelopeID%>Recipient<%=r.userName%>">
                          <%if !r.tabStatuses.nil?%>
                              <%r.tabStatuses.each do |t| %>
                                  <li><%=t.tabName%>: <%=t.tabValue%></li>
                              <%end%>
                          <%end%>
                        </ul>
                      </li>
                  <%end%>
                  <li><%= content_tag(:span, image_tag("#{root_url}images/plus.png"), :onclick => "invert('#{e.envelopeID}Documents');") %>
                    Documents<%if e.status.to_s.eql?('Completed')%> <%= submit_tag('Download', :name => "DocEnvelope+#{e.envelopeID}") %> <%end%>
                    <ul style="list-style:none;display:none;" id="<%=e.envelopeID%>Documents">
                      <% e.documentStatuses.each do |d|%>
                          <li><%=d.name%></li>
                      <%end%>
                    </ul>
                  </li>
                </ul>
              </li>
          <%end%>
          </ul>
      <%end%>
<%end%>
